#warumPcZauberer{
    position: relative;
    background-color: blueviolet;
    padding: 15px;
    border-radius: 25px;
    text-align: center;
    max-width: 600px;
    justify-self: center;
    margin: 30px;
}
#warumPcZauberer::after{
    content: '';
    position: absolute;
    inset: -3px;
    border-radius: 30px;
    background: conic-gradient(from var(--angle),blue, magenta, red, orange, yellow, green, blue);
    animation: spin linear 10s infinite;
    z-index: -1;
}
#warumPcZauberer p{
    font-size: 30px;
}
#div1{
    padding: 10px;
    border-radius: 25px;
    max-width: 800px;
    justify-self: center;
    margin: 10px;
    font-size: 20px;
}
