#warumPcZauberer{
    background-color: blueviolet;
    padding: 15px;
    border-radius: 25px;
    text-align: center;
    max-width: 600px;
    justify-self: center;
    margin: 30px;
}
#warumPcZauberer p{
    font-size: 30px;
}
#div1{
    padding: 10px;
    border-radius: 25px;
    max-width: 800px;
    justify-self: center;
    margin: 10px;
    font-size: 20px;
}
