#patrickContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#borisContainer {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
}
#patrickContainer p, #borisContainer p{
    max-width: 400px;
    font-size: 20px;
    padding: 5%;
}
#patrick, #boris{
    position: relative;
}
#patrick::after, #boris::after{
    content: '';
    position: absolute;
    inset: 0px;
    filter: blur(10px);
    border-radius: 30px;
    background: conic-gradient(from var(--angle),blue, magenta, red, orange, yellow, green, blue);
    animation: spin linear 10s infinite;
    z-index: -1;
}
#patrickImage, #borisImage{
    border-radius: 30px;
    min-width: 200px;
    height: 100%;
    vertical-align: middle;
}
#patrickText, #borisText{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 2px blueviolet;
}