#footerContainer{
    position: relative;
    min-width: 350px;
}
#footer{
    position: fixed;
    bottom: 0;
    background-color: rgba(118, 36, 196, 0.8);
    width: 100%;
    text-align: center;
    border-top: 1px solid black;
    z-index: 20;

}
#footer a{
    color: black;
    text-decoration: none;
}
#siteMenuImage{
    width: 40px;
    position: absolute;
    right: 10px;
    bottom: 5px;
    cursor: pointer;
}
#siteMenuImage:hover{
    scale: 1.1;
}