#siteMenuContainer{
    visibility: hidden;
    position: fixed;
    z-index: 1;
    opacity: 0%;
    width: 0%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    left: 0px;
    align-content: center;
}
#siteMenuContainer.active{
    transition: all .3s linear;
    width: 33%;
    opacity: 100%;
}
#siteMenuContainer.deactive{
    transition: all .3s linear;
    width: 0%;
    opacity: 0%;
}
#siteMenuContainer li{
    text-align: center;
    list-style: none;
    padding: 10px;
}
#siteMenuContainer ul{
    text-decoration: none;
    width: 100%;
    height: 75%;
    justify-items: center;
    align-content: center;
    margin: 0;
    padding: 0;
}
#burgerContainer{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    top: 30px;
    left: 30px;
    z-index: 2;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}
#burgerContainer::before{
    content: '';
    position: absolute;
    inset: 0;
    background: conic-gradient(from var(--angle),blue, magenta, red, orange, yellow, green, blue);
    animation: spin linear 10s infinite;
    z-index: -1;
    border-radius: 50%;
    filter: blur(20px);
}
#burger{
    position: relative;
    width: 30px;
    height: 3px;
    background: white;
    border-radius: 30px;
    transition: all .4s;
}
#burger::after, #burger::before{
    content: '';
    position: absolute;
    background: white;
    border-radius: 30px;
    width: 100%;
    height: 100%;
    transition: all .4s;
}
#burger::after{
    top: 300%; 
}
#burger::before{
    bottom: 300%;
}
#burgerContainer.active #burger::after{
    transform: rotateZ(45deg) translate(-7px, -7px);
}
#burgerContainer.active #burger::before{
    transform: rotateZ(-45deg) translate(-5px, 5px);
}
#burgerContainer.active #burger{
    background-color: transparent;
}