#impressumContainer p, #impressumContainer ul{
    width: 95%;
    max-width: 600px;
    min-width: 300px;
    margin-left: 50%;
    transform: translate(-50%);
}
#impressumContainer li{
    padding: 0;
}